In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

Load dataset

In [2]:
data_df = pd.read_csv("https://raw.githubusercontent.com/joshuanallen/Air_Quality_Prediction/main/clean_data.csv")
data_df.head()

   Unnamed: 0  Census Tract  ...  Poverty  Unemployment
0           0    6019001100  ...     76.3          17.6
1           1    6071001600  ...     72.5          12.3
2           2    6019000200  ...     86.8          16.1
3           3    6077000801  ...     61.3          19.6
4           4    6019001500  ...     66.4          18.6

[5 rows x 17 columns]

Drop unecessary columns

In [3]:
drop_loc_data_df = data_df[["Ozone", "PM2.5", "Diesel PM", "Pesticides", "Tox. Release", "Traffic", "Asthma", "Low Birth Weight", "Cardiovascular Disease", "Poverty", "Unemployment"]]
drop_loc_data_df.head()

   Ozone  PM2.5  Diesel PM  ...  Cardiovascular Disease  Poverty  Unemployment
0  0.065  15.40     48.524  ...                   14.13     76.3          17.6
1  0.062  13.31     38.556  ...                   12.94     72.5          12.3
2  0.062  15.40     47.445  ...                   14.96     86.8          16.1
3  0.046  12.54     24.117  ...                   14.72     61.3          19.6
4  0.065  15.40     18.846  ...                   12.82     66.4          18.6

[5 rows x 11 columns]

Check for missing data

In [4]:
print(drop_loc_data_df.isnull().sum())

Ozone                     0
PM2.5                     0
Diesel PM                 0
Pesticides                0
Tox. Release              0
Traffic                   0
Asthma                    0
Low Birth Weight          0
Cardiovascular Disease    0
Poverty                   0
Unemployment              0
dtype: int64

Summarize dataset

In [5]:
drop_loc_data_df.describe()

             Ozone        PM2.5  ...      Poverty  Unemployment
count  7712.000000  7712.000000  ...  7712.000000   7712.000000
mean      0.047426    10.420606  ...    36.412202     10.182923
std       0.010220     2.568878  ...    20.251424      4.957414
min       0.026000     1.869001  ...     1.000000      0.000000
25%       0.040000     8.697944  ...    19.200000      6.600000
50%       0.046000    10.370000  ...    33.600000      9.300000
75%       0.055000    12.050000  ...    51.600000     12.800000
max       0.068000    19.600000  ...    94.900000     60.500000

[8 rows x 11 columns]

Bin continuous variables for classification

In [9]:
# Asthma Binning
asthma_bins = [0, 25, 50, 75, 100, 125, 150, 175, 200, 225]

asthma_labels =[1,2,3,4,5,6,7,8,9]

drop_loc_data_df['Asthma_binned'] = pd.cut(drop_loc_data_df["Asthma"], bins = asthma_bins, labels = asthma_labels, include_lowest=True)


# Low birth weight binning
lbw_bins = [-1, 3, 6, 9, 12, 15]

lbw_labels =[1,2,3,4,5]

drop_loc_data_df['LBW_binned'] = pd.cut(drop_loc_data_df["Low Birth Weight"], bins = lbw_bins, labels = lbw_labels, include_lowest=True)


# Cardiovascular Disease Binning
cvd_bins = [0, 3, 6, 9, 12, 14, 16, 18, 20, 22]

cvd_labels =[1,2,3,4,5,6,7,8,9]

drop_loc_data_df['CVD_binned'] = pd.cut(drop_loc_data_df["Cardiovascular Disease"], bins = cvd_bins, labels = cvd_labels, include_lowest=True)


# Poverty
poverty_bins = [0, 20, 40, 60, 80, 100]

poverty_labels =[1,2,3,4,5]

drop_loc_data_df['Poverty_binned'] = pd.cut(drop_loc_data_df["Poverty"], bins = poverty_bins, labels = poverty_labels, include_lowest=True)


# Unemployment
ue_bins = [0, 5, 10, 15, 20, 25, 100]

ue_labels =[1,2,3,4,5,6]

drop_loc_data_df['Unemployment_binned'] = pd.cut(drop_loc_data_df["Unemployment"], bins = ue_bins, labels = ue_labels, include_lowest=True)


drop_loc_data_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Ozone  PM2.5  Diesel PM  ...  CVD_binned  Poverty_binned  Unemployment_binned
0  0.065  15.40     48.524  ...           6               4                    4
1  0.062  13.31     38.556  ...           5               4                    3
2  0.062  15.40     47.445  ...           6               5                    4
3  0.046  12.54     24.117  ...           6               4                    4
4  0.065  15.40     18.846  ...           5               4                    4

[5 rows x 16 columns]

Set feature and target variables

In [10]:
# Features
X_air_data = drop_loc_data_df[["Ozone", "PM2.5", "Diesel PM", "Pesticides", "Tox. Release", "Traffic"]]

# targets
y_Asthma = drop_loc_data_df["Asthma_binned"]
y_Low_birth_weight = drop_loc_data_df["LBW_binned"]
y_Cardiovascular_disease = drop_loc_data_df["CVD_binned"]
y_Poverty = drop_loc_data_df["Poverty_binned"]
y_Unemployment = drop_loc_data_df["Unemployment_binned"]

Standarize numerical variables

1. Split into training and testing datasets
2. Scale the feature data
3. Train and evaluate the Random Forest Classifier

In [11]:
X = X_air_data
y = y_Asthma

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.612

**Low Birth Weight** Random Forest Classifier model

In [12]:
X = X_air_data
y = y_Low_birth_weight

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.666

**Cardiovascular disease** Random Forest Classifier model

In [13]:
X = X_air_data
y = y_Cardiovascular_disease

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.599

**Poverty** Random Forest Classifier model

In [14]:
X = X_air_data
y = y_Poverty

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.493

**Unemployment** Random Forest Classifier model

In [15]:
X = X_air_data
y = y_Unemployment

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.442