In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

Load in dataset

Insert David SQL connector here for data connection

In [2]:
data_df = pd.read_csv("https://raw.githubusercontent.com/joshuanallen/Air_Quality_Prediction/main/clean_data.csv")
data_df.head()

   Unnamed: 0  Census Tract  ...  Poverty  Unemployment
0           0    6019001100  ...     76.3          17.6
1           1    6071001600  ...     72.5          12.3
2           2    6019000200  ...     86.8          16.1
3           3    6077000801  ...     61.3          19.6
4           4    6019001500  ...     66.4          18.6

[5 rows x 17 columns]

Drop unnecessary columns

In [3]:
drop_loc_data_df = data_df[["Ozone", "PM2.5", "Diesel PM", "Pesticides", "Tox. Release", "Traffic", "Asthma", "Low Birth Weight", "Cardiovascular Disease", "Poverty", "Unemployment"]]
drop_loc_data_df.head()

   Ozone  PM2.5  Diesel PM  ...  Cardiovascular Disease  Poverty  Unemployment
0  0.065  15.40     48.524  ...                   14.13     76.3          17.6
1  0.062  13.31     38.556  ...                   12.94     72.5          12.3
2  0.062  15.40     47.445  ...                   14.96     86.8          16.1
3  0.046  12.54     24.117  ...                   14.72     61.3          19.6
4  0.065  15.40     18.846  ...                   12.82     66.4          18.6

[5 rows x 11 columns]

Identify any missing data

In [4]:
print(drop_loc_data_df.isnull().sum())

Ozone                     0
PM2.5                     0
Diesel PM                 0
Pesticides                0
Tox. Release              0
Traffic                   0
Asthma                    0
Low Birth Weight          0
Cardiovascular Disease    0
Poverty                   0
Unemployment              0
dtype: int64

Describe data

In [5]:
drop_loc_data_df.describe()

             Ozone        PM2.5  ...      Poverty  Unemployment
count  7712.000000  7712.000000  ...  7712.000000   7712.000000
mean      0.047426    10.420606  ...    36.412202     10.182923
std       0.010220     2.568878  ...    20.251424      4.957414
min       0.026000     1.869001  ...     1.000000      0.000000
25%       0.040000     8.697944  ...    19.200000      6.600000
50%       0.046000    10.370000  ...    33.600000      9.300000
75%       0.055000    12.050000  ...    51.600000     12.800000
max       0.068000    19.600000  ...    94.900000     60.500000

[8 rows x 11 columns]

Split dataset into feature and target variable datasets

Features:
1. Ozone
2. PM2.5
3. Diesel PM
4. Pesticides
5. Tox. Release
6. Traffic

We chose 5 target variables to build predictive models

Targets:
1. Asthma
2. Low Birth Weight
3. Cardiovascular Disease
4. Poverty
5. Unemployment

In [7]:
# Features
X_air_data = drop_loc_data_df[["Ozone", "PM2.5", "Diesel PM", "Pesticides", "Tox. Release", "Traffic"]]

# Targets
y_Asthma = drop_loc_data_df["Asthma"]
y_Low_birth_weight = drop_loc_data_df["Low Birth Weight"]
y_Cardiovascular_disease = drop_loc_data_df["Cardiovascular Disease"]
y_Poverty = drop_loc_data_df["Poverty"]
y_Unemployment = drop_loc_data_df["Unemployment"]

Standardize feature variables

1. Split into training and test datasets
2. Scale the `X_train` and `X_test` dataset

In [8]:
X = X_air_data
y = y_Asthma

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create a random forest regressor.

rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive r-square: {rf_model.score(X_test_scaled,y_test):.3f}")

 Random forest predictive accuracy: 0.602

**Low Birth Rate** Random Regressor Model

In [20]:
X = X_air_data
y = y_Low_birth_weight

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [21]:
# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Create a random forest regressor.

rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive r-square: {rf_model.score(X_test_scaled,y_test):.3f}")

 Random forest predictive accuracy: 0.115

**Cardiovascular Disease** Random Forest Regressor model

In [27]:
X = X_air_data
y = y_Cardiovascular_disease

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()


# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest regressor.
rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive r-square: {rf_model.score(X_test_scaled,y_test):.3f}")

 Random forest predictive r-square: 0.561

**Poverty** Random Forest Regressor model

In [28]:
X = X_air_data
y = y_Poverty

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()
# scaler = MinMaxScaler()
# scaler = RobustScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest regressor.
rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive r-square: {rf_model.score(X_test_scaled,y_test):.3f}")

 Random forest predictive r-square: 0.500

**Unemployment** Random Forest Regressor Model

In [32]:
X = X_air_data
y = y_Unemployment

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
# scaler = StandardScaler()
scaler = MinMaxScaler()
# scaler = RobustScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest regressor.
rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive r-square: {rf_model.score(X_test_scaled,y_test):.3f}")

 Random forest predictive r-square: 0.300